<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d33fd4c0-cb71-447a-9d20-362dce65a872" Alias="Contact Page - Contact Form - Block List " Level="1">
  <Info>
    <Name>Contact Page - Contact Form - Block List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d4da39fe-6d6d-43bd-a178-009ecf159818",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "26abaa53-f220-4b38-aecc-f973c8553a1a",
      "label": "InputPassword - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "25ae14bb-8bba-4dbe-ad00-5f2be0c79f05",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "58655fb3-7b66-4aca-8202-ba1e9b4160dd",
      "label": "Button- {=buttonType}"
    }
  ]
}]]></Config>
</DataType>