<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5b7b1ae-6a71-4ae7-b6b5-e27cea271326" Alias="Content picker - Service Page" Level="1">
  <Info>
    <Name>Content picker - Service Page</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>