<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4383d4be-324c-44de-8ec0-fc0fcf727f3c" Alias="How can we help - Support email " Level="1">
  <Info>
    <Name>How can we help - Support email </Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>