<?xml version="1.0" encoding="utf-8"?>
<DataType Key="daa20e07-aff0-4eee-b0d5-8b4ca8a2ede8" Alias="Let us know about your next project -  Block grid" Level="1">
  <Info>
    <Name>Let us know about your next project -  Block grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9fae0971-b801-4aa7-9c5c-deb050eb82ee",
      "allowAtRoot": true,
      "areas": [
        {
          "key": "0d2bced4-df44-4527-adaf-0902e0402b77",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "areaGridColumns": 12,
      "inlineEditing": true
    },
    {
      "contentElementTypeKey": "bf327b89-7717-43eb-818b-9fc3a55d598d",
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [
        {
          "key": "388c7190-e0af-4038-ab09-871ae4d32224",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "38f2bbdf-b7f5-4eaf-8694-3616fd444737",
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [
        {
          "key": "daefeb2d-f053-4482-8842-d3320dd1d551",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "areaGridColumns": 12
    },
    {
      "contentElementTypeKey": "bdc77817-f6ef-4de5-aa5f-86253f326817",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "1622fd59-9cc6-4472-86fd-b9d65cf92ab6",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f7c922f5-8b94-43ea-8132-1e135abbb306",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2c8c06fd-ad7c-4d30-a7c9-6a08c414e048",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "31b5010a-a593-415b-b641-6efe77774653",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "cbdecb36-901c-4e8d-82f0-2533cd7cf2e6",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "395c32ad-e7d1-4eb4-b766-441bda0fba2a",
      "allowAtRoot": false,
      "allowInAreas": true
    }
  ],
  "gridColumns": 6
}]]></Config>
</DataType>