<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3b944c7-5ead-4d55-a624-39be5d04fb6f" Alias="Modular Page - Layout " Level="1">
  <Info>
    <Name>Modular Page - Layout </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "90d5969c-4366-49bb-a133-c55de7b4ca38",
      "name": "Containers"
    },
    {
      "key": "8a929d31-6a30-4a35-b5a3-0ff4a1325048",
      "name": "Components"
    },
    {
      "key": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "9fae0971-b801-4aa7-9c5c-deb050eb82ee",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "d16a16d7-59d4-4c71-ace8-449e1fc1c38f",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "90d5969c-4366-49bb-a133-c55de7b4ca38",
      "inlineEditing": true,
      "areaGridColumns": 12,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        }
      ]
    },
    {
      "contentElementTypeKey": "bf327b89-7717-43eb-818b-9fc3a55d598d",
      "allowAtRoot": false,
      "groupKey": "90d5969c-4366-49bb-a133-c55de7b4ca38",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "f8cd8e68-e850-4c5b-8e4a-8a6fb38d9505",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "areaGridColumns": 12,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        }
      ]
    },
    {
      "contentElementTypeKey": "38f2bbdf-b7f5-4eaf-8694-3616fd444737",
      "allowAtRoot": false,
      "groupKey": "90d5969c-4366-49bb-a133-c55de7b4ca38",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "1c2037d1-eafa-4574-9141-f1e97d00aef5",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 1
        }
      ],
      "areaGridColumns": 12
    },
    {
      "contentElementTypeKey": "0b7521a8-0031-4978-b6f5-32e596a0ac9b",
      "allowAtRoot": false,
      "groupKey": "8a929d31-6a30-4a35-b5a3-0ff4a1325048",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b399e951-5f8f-4362-af2b-80e0c972b06c",
      "allowAtRoot": false,
      "groupKey": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "label": "heading 6",
      "allowInAreas": true,
      "areas": [
        {
          "key": "651b0f75-185c-4722-bb5b-5c138d76b774",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 3
        }
      ]
    },
    {
      "contentElementTypeKey": "b5c11b84-ab48-4e9f-9b9c-bf11120d43b1",
      "allowAtRoot": false,
      "groupKey": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "label": "Heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9bf497b3-73db-400c-a081-41156f80180a",
      "allowAtRoot": false,
      "groupKey": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "label": "Heading 4",
      "allowInAreas": true,
      "areas": [
        {
          "key": "2c8686a8-c9f4-4093-9201-cd701784f5b8",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        }
      ]
    },
    {
      "contentElementTypeKey": "31b5010a-a593-415b-b641-6efe77774653",
      "allowAtRoot": false,
      "groupKey": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "label": "Heading 3",
      "allowInAreas": true,
      "areas": [
        {
          "key": "035f926b-f6cf-4550-9123-2fb013f94cad",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "2c8c06fd-ad7c-4d30-a7c9-6a08c414e048",
      "allowAtRoot": false,
      "groupKey": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "label": "Heading 2",
      "allowInAreas": true,
      "areas": [
        {
          "key": "b049e9ef-00d3-45ef-a78e-fdfa0351a655",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        }
      ]
    },
    {
      "contentElementTypeKey": "f7c922f5-8b94-43ea-8132-1e135abbb306",
      "allowAtRoot": false,
      "groupKey": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "label": "Heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "12fe47d1-f967-4c6b-bb6f-520f4dea6580",
      "allowAtRoot": false,
      "groupKey": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "label": "Button Link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "1622fd59-9cc6-4472-86fd-b9d65cf92ab6",
      "allowAtRoot": false,
      "groupKey": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "label": "Link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "395c32ad-e7d1-4eb4-b766-441bda0fba2a",
      "allowAtRoot": false,
      "groupKey": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "label": "Paragraph",
      "allowInAreas": true,
      "areas": [
        {
          "key": "8304b632-c6f1-4e08-b04f-69cd9233567f",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "0755953f-9ad2-4245-83df-dcabec5ed9e0",
      "allowAtRoot": false,
      "groupKey": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "label": "Quotation",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "cbdecb36-901c-4e8d-82f0-2533cd7cf2e6",
      "allowAtRoot": false,
      "groupKey": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "label": "Rich Text",
      "allowInAreas": true,
      "areas": [
        {
          "key": "24dbd6bf-d900-4ff8-b9ab-8e2ac99e3279",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "areaGridColumns": 12,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        }
      ]
    },
    {
      "contentElementTypeKey": "bdc77817-f6ef-4de5-aa5f-86253f326817",
      "allowAtRoot": true,
      "groupKey": "08a13e23-cf5f-4a5c-af94-beb161701310",
      "label": "img",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        }
      ],
      "areas": [
        {
          "key": "247c94c5-022f-446f-ab6a-3b13c026cde2",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "areaGridColumns": 12
    },
    {
      "contentElementTypeKey": "3c1e9518-61a9-4ee8-ab08-39ebcb417fe2",
      "allowAtRoot": true,
      "groupKey": "90d5969c-4366-49bb-a133-c55de7b4ca38",
      "areas": [
        {
          "key": "65e12bce-074d-4819-b811-5165c90e2bd0",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "areaGridColumns": 12,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        }
      ]
    },
    {
      "contentElementTypeKey": "58655fb3-7b66-4aca-8202-ba1e9b4160dd",
      "allowAtRoot": true,
      "groupKey": "8a929d31-6a30-4a35-b5a3-0ff4a1325048",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "26abaa53-f220-4b38-aecc-f973c8553a1a",
      "allowAtRoot": true,
      "groupKey": "8a929d31-6a30-4a35-b5a3-0ff4a1325048",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d4da39fe-6d6d-43bd-a178-009ecf159818",
      "allowAtRoot": true,
      "groupKey": "8a929d31-6a30-4a35-b5a3-0ff4a1325048",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "25ae14bb-8bba-4dbe-ad00-5f2be0c79f05",
      "allowAtRoot": true,
      "groupKey": "8a929d31-6a30-4a35-b5a3-0ff4a1325048",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "00e3be86-bc37-40e0-ac1e-23f8132ad223",
      "allowAtRoot": true,
      "groupKey": "8a929d31-6a30-4a35-b5a3-0ff4a1325048",
      "allowInAreas": true,
      "areaGridColumns": 12
    },
    {
      "contentElementTypeKey": "41d9414a-db7c-434a-87e0-bb0817aecd62",
      "allowAtRoot": true,
      "groupKey": "8a929d31-6a30-4a35-b5a3-0ff4a1325048",
      "areaGridColumns": 12,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "745db58e-e93b-497a-9763-86e54535b0a4",
      "allowAtRoot": true,
      "groupKey": "8a929d31-6a30-4a35-b5a3-0ff4a1325048",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9ba23ea5-5157-420d-8c1e-f0a59565321e",
      "allowAtRoot": true,
      "groupKey": "8a929d31-6a30-4a35-b5a3-0ff4a1325048",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f607f5e7-1f8f-4c68-b46f-5bce12de41f4",
      "allowAtRoot": true,
      "groupKey": "8a929d31-6a30-4a35-b5a3-0ff4a1325048",
      "allowInAreas": true,
      "areas": [
        {
          "key": "83af43c7-48d3-4cc6-9c03-12c4afde9f92",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": false
}]]></Config>
</DataType>