<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf397be4-f134-4f99-a9d5-5234cfd1c265" Alias="Our Projects Section -  - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Our Projects Section -  - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>