<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e55c3ac2-7651-437a-9c7e-d626a94b6db9" Alias="Our Services Section - Service Section Title - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Our Services Section - Service Section Title - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>