<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31716fb3-c91b-4779-bba8-a950f0d0c660" Alias="Our services section - Block Grid " Level="1">
  <Info>
    <Name>Our services section - Block Grid </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bdc77817-f6ef-4de5-aa5f-86253f326817",
      "allowAtRoot": false,
      "allowInAreas": true,
      "label": "Services image"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>