<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca90c950-0aff-4e72-b976-a30b1ac57dad" Alias="Richtext editor" Level="1">
  <Info>
    <Name>Richtext editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cbdecb36-901c-4e8d-82f0-2533cd7cf2e6"
    }
  ],
  "maxImageSize": 0,
  "mode": "classic",
  "stylesheets": [
    "/theme.css",
    "/main.css"
  ],
  "toolbar": [
    "cut",
    "copy",
    "paste",
    "fontsize",
    "formatblock",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "alignjustify",
    "bullist",
    "numlist",
    "sourcecode",
    "umbmediapicker"
  ]
}]]></Config>
</DataType>