<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df89bbe5-115b-4b4c-8397-307dd9083012" Alias="Settings Page - Content Picker Support Box" Level="1">
  <Info>
    <Name>Settings Page - Content Picker Support Box</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "47520b11-354d-40e1-85e6-3d8e55b595fe,17b56057-4ad6-43d4-9238-d4027ca966e2",
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>