<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b955e24c-bc07-4246-837c-cbdf9e7831b6" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "X",
    "LinkedIn"
  ]
}]]></Config>
</DataType>