<?xml version="1.0" encoding="utf-8"?>
<Content Key="89c5dd10-50eb-4835-8fda-05b997be9228" Alias="Services" Level="2">
  <Info>
    <Parent Key="bb0e9897-5ff3-45ee-94d7-c74442c19ac1">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-18T18:27:42</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="34b22ca5-2fbf-4025-8c6f-de62537a3ac0">serviceListPage</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "Gray",
  "value": "#F7F7F7"
}]]></Value>
    </backgroundColor>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "f523f490-509c-4eab-8d99-080486e672b0",
    "mediaKey": "5025e72b-9c84-4aea-8ba9-5eec090da0d2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImage>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>