<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ac6d860-0a81-48ab-85ac-1a646bf08425" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-06T17:37:25</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <onlineSupportText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </onlineSupportText>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "23ba896a-ba77-4adc-b36f-8e71f09cdda2",
    "mediaKey": "2083df86-0d8b-4da4-b4cb-f10c6e76c92e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix Inc]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for You]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "57a28fd0-f908-4fce-8ab1-d7430f2e2eea",
      "udi": "umb://element/a60933cef1ff4961896d6cf8bf51b08d",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "57a28fd0-f908-4fce-8ab1-d7430f2e2eea",
      "udi": "umb://element/481d39143fa04da195a9e8ed0c035c20",
      "platformName": "[\u0022X\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    },
    {
      "contentTypeKey": "57a28fd0-f908-4fce-8ab1-d7430f2e2eea",
      "udi": "umb://element/a209258ba1b144a2b4b4c5f822b5049d",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a60933cef1ff4961896d6cf8bf51b08d",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/481d39143fa04da195a9e8ed0c035c20",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a209258ba1b144a2b4b4c5f822b5049d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
    <supportContentPicker>
      <Value><![CDATA[umb://document/8ac6d8600a8148ab85ac1a646bf08425]]></Value>
    </supportContentPicker>
    <supportEmail>
      <Value><![CDATA[]]></Value>
    </supportEmail>
    <supportText>
      <Value><![CDATA[How can we help you? ]]></Value>
    </supportText>
  </Properties>
</Content>