<?xml version="1.0" encoding="utf-8"?>
<Media Key="b55d36ef-cc9e-4256-a675-0b49f866bd81" Alias="Aaron Lambert" Level="2">
  <Info>
    <Parent Key="696a1493-34b9-4134-9a26-e4b314000d6f">About</Parent>
    <Path>/About/AaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T17:56:16</CreateDate>
    <NodeName Default="Aaron Lambert" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/md4bwa5x/aaronlambert2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>