<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb54b0e2-0faf-4662-8528-c5d57bdd9075" Alias="About us service" Level="2">
  <Info>
    <Parent Key="c1562eed-e8bc-4b83-97eb-05b3d1ded238">Services - Details</Parent>
    <Path>/ServicesDetails/AboutUsService</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-02T08:55:12</CreateDate>
    <NodeName Default="About us service" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cagpmwnu/serviceaboutus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>