<?xml version="1.0" encoding="utf-8"?>
<Media Key="696a1493-34b9-4134-9a26-e4b314000d6f" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-01T06:57:10</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>