<?xml version="1.0" encoding="utf-8"?>
<Media Key="81e8f39a-d726-4214-9e00-15eca88a9889" Alias="Annual report - man and woman" Level="2">
  <Info>
    <Parent Key="9ae0c83f-a352-4de0-9116-44ded6c89d70">Projects - Details</Parent>
    <Path>/ProjectsDetails/AnnualReportManAndWoman</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:46:28</CreateDate>
    <NodeName Default="Annual report - man and woman" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nbheuyz3/annualreportmanandwoman.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>