<?xml version="1.0" encoding="utf-8"?>
<Media Key="fafdc24b-778a-42df-893e-045e94144e01" Alias="Annual report" Level="2">
  <Info>
    <Parent Key="b0f6acd3-2618-4a0c-bafd-397e1a8dc050">Projects</Parent>
    <Path>/Projects/AnnualReport</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:42:13</CreateDate>
    <NodeName Default="Annual report" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xf5f4ger/annualreport.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>