<?xml version="1.0" encoding="utf-8"?>
<Media Key="70da3175-4698-4238-94b7-18df4299ad61" Alias="Annual report - girl on stairs" Level="2">
  <Info>
    <Parent Key="9ae0c83f-a352-4de0-9116-44ded6c89d70">Projects - Details</Parent>
    <Path>/ProjectsDetails/AnnualReportGirlOnStairs</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:45:39</CreateDate>
    <NodeName Default="Annual report - girl on stairs" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q4ghreud/annualreportgirlstairs.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>