<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7605633-f093-4d9c-877f-9544ac5504b9" Alias="Annual report " Level="2">
  <Info>
    <Parent Key="9ae0c83f-a352-4de0-9116-44ded6c89d70">Projects - Details</Parent>
    <Path>/ProjectsDetails/AnnualReport</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:44:15</CreateDate>
    <NodeName Default="Annual report " />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yhvnenmi/annualreport.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>