<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e19e226-6b2a-40e2-b855-5b8c15206894" Alias="Assurance" Level="2">
  <Info>
    <Parent Key="5a950146-4194-41b1-a00e-30a816123017">Services</Parent>
    <Path>/Services/Assurance</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:33:39</CreateDate>
    <NodeName Default="Assurance" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0rplx5br/assurance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>