<?xml version="1.0" encoding="utf-8"?>
<Media Key="5025e72b-9c84-4aea-8ba9-5eec090da0d2" Alias="Background About us" Level="2">
  <Info>
    <Parent Key="696a1493-34b9-4134-9a26-e4b314000d6f">About</Parent>
    <Path>/About/BackgroundAboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T18:00:14</CreateDate>
    <NodeName Default="Background About us" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/uqwhhzxn/bgaboutus.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>