<?xml version="1.0" encoding="utf-8"?>
<Media Key="69578ae4-140a-4535-ad82-647b1980eb21" Alias="Background dots" Level="2">
  <Info>
    <Parent Key="7142c2c4-0b4d-4b4a-b0f0-c58dfb4bcde6">Contact</Parent>
    <Path>/Contact/BackgroundDots</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:49:22</CreateDate>
    <NodeName Default="Background dots" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cy1plcyr/dotbg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>