<?xml version="1.0" encoding="utf-8"?>
<Media Key="25322357-6b16-4daf-95d9-ccb2c1887fb1" Alias="bigkevin" Level="2">
  <Info>
    <Parent Key="696a1493-34b9-4134-9a26-e4b314000d6f">About</Parent>
    <Path>/About/bigkevin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T09:36:47</CreateDate>
    <NodeName Default="bigkevin" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uwpjbryn/kevin-gardnerrev.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>