<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bc6d1df-2500-4250-9893-b61cc9556102" Alias="Bonds" Level="2">
  <Info>
    <Parent Key="5a950146-4194-41b1-a00e-30a816123017">Services</Parent>
    <Path>/Services/Bonds</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:31:50</CreateDate>
    <NodeName Default="Bonds" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fvwgi4i1/bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>