<?xml version="1.0" encoding="utf-8"?>
<Media Key="210756c3-bd34-460d-a161-7b6cbc7c4fea" Alias="Brandon Newton" Level="2">
  <Info>
    <Parent Key="696a1493-34b9-4134-9a26-e4b314000d6f">About</Parent>
    <Path>/About/BrandonNewton</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T17:52:19</CreateDate>
    <NodeName Default="Brandon Newton" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jsoedf03/brandonnewton2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>