<?xml version="1.0" encoding="utf-8"?>
<Media Key="e523c4f9-0ab6-4331-b3bc-6a47bbb71bea" Alias="Budget planning" Level="2">
  <Info>
    <Parent Key="b0f6acd3-2618-4a0c-bafd-397e1a8dc050">Projects</Parent>
    <Path>/Projects/BudgetPlanning</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:43:26</CreateDate>
    <NodeName Default="Budget planning" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bn2jcb3n/budgetplanning.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>