<?xml version="1.0" encoding="utf-8"?>
<Media Key="917c9c58-519a-4360-9b7a-1591b4ef4705" Alias="Business Insights" Level="2">
  <Info>
    <Parent Key="b0f6acd3-2618-4a0c-bafd-397e1a8dc050">Projects</Parent>
    <Path>/Projects/BusinessInsights</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:42:39</CreateDate>
    <NodeName Default="Business Insights" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/viqn222b/businessinsights.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>