<?xml version="1.0" encoding="utf-8"?>
<Media Key="7142c2c4-0b4d-4b4a-b0f0-c58dfb4bcde6" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-01T06:58:41</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>