<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6d75a1b-f367-4b47-99dd-a640ba8c031b" Alias="Dot map 2" Level="2">
  <Info>
    <Parent Key="3972cfbc-7178-4c31-ad92-680fcd8e2d8c">Home page</Parent>
    <Path>/HomePage/DotMap2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T13:00:33</CreateDate>
    <NodeName Default="Dot map 2" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3hthkbd2/dot-map2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>