<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7b8a728-44a1-47a3-9988-4cb53a610df1" Alias="Financial" Level="2">
  <Info>
    <Parent Key="5a950146-4194-41b1-a00e-30a816123017">Services</Parent>
    <Path>/Services/Financial</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:35:04</CreateDate>
    <NodeName Default="Financial" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1inbufn0/financial.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>