<?xml version="1.0" encoding="utf-8"?>
<Media Key="83213084-a7be-43d0-96d2-589b11a27d11" Alias="Financial advisors" Level="2">
  <Info>
    <Parent Key="b0f6acd3-2618-4a0c-bafd-397e1a8dc050">Projects</Parent>
    <Path>/Projects/FinancialAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:43:02</CreateDate>
    <NodeName Default="Financial advisors" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o0gjgynf/financialproject.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>