<?xml version="1.0" encoding="utf-8"?>
<Media Key="430c434e-c4f6-486f-9e43-4d6437cf50ff" Alias="Globe" Level="2">
  <Info>
    <Parent Key="bb057e94-f769-4686-913f-184af2fb0135">Partners</Parent>
    <Path>/Partners/Globe</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T12:33:20</CreateDate>
    <NodeName Default="Globe" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ygefv3m5/globe.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>