<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b61db3e-a78b-4c97-afae-9ddcdda37183" Alias="Hero homepage" Level="2">
  <Info>
    <Parent Key="3972cfbc-7178-4c31-ad92-680fcd8e2d8c">Home page</Parent>
    <Path>/HomePage/HeroHomepage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-01T06:59:43</CreateDate>
    <NodeName Default="Hero homepage" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/weidoppc/homestart.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>