<?xml version="1.0" encoding="utf-8"?>
<Media Key="632bbc87-09a1-45be-8e6c-51961889f445" Alias="herostartsvg" Level="2">
  <Info>
    <Parent Key="3972cfbc-7178-4c31-ad92-680fcd8e2d8c">Home page</Parent>
    <Path>/HomePage/herostartsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T17:02:57</CreateDate>
    <NodeName Default="herostartsvg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ouajtan0/homestart.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>