<?xml version="1.0" encoding="utf-8"?>
<Media Key="26143dca-eeca-415f-b1a1-8e8fdfc54346" Alias="Identity" Level="2">
  <Info>
    <Parent Key="bb057e94-f769-4686-913f-184af2fb0135">Partners</Parent>
    <Path>/Partners/Identity</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T12:33:35</CreateDate>
    <NodeName Default="Identity" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ix1ffefd/identity.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>