<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b446150-d1ee-45b7-848a-166c54573348" Alias="Let us know background green" Level="2">
  <Info>
    <Parent Key="7142c2c4-0b4d-4b4a-b0f0-c58dfb4bcde6">Contact</Parent>
    <Path>/Contact/LetUsKnowBackgroundGreen</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:47:21</CreateDate>
    <NodeName Default="Let us know background green" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uloom4pv/bgletusknow1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>