<?xml version="1.0" encoding="utf-8"?>
<Media Key="629824af-3155-4e5e-aca2-fd57f58e3a30" Alias="Let us know" Level="2">
  <Info>
    <Parent Key="5a950146-4194-41b1-a00e-30a816123017">Services</Parent>
    <Path>/Services/LetUsKnow</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:35:46</CreateDate>
    <NodeName Default="Let us know" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lwmdvaco/letusknow.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>