<?xml version="1.0" encoding="utf-8"?>
<Media Key="2083df86-0d8b-4da4-b4cb-f10c6e76c92e" Alias="Logotype" Level="3">
  <Info>
    <Parent Key="c0902cee-1e7b-462a-87b3-2f7eba9b4aa5">Misc</Parent>
    <Path>/HomePage/Misc/Logotype</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-07T14:34:44</CreateDate>
    <NodeName Default="Logotype" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/beknlfxc/onatrixlogo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>