<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ca9ec84-2158-41b2-b419-bfbdb21b6746" Alias="Map Contact" Level="2">
  <Info>
    <Parent Key="7142c2c4-0b4d-4b4a-b0f0-c58dfb4bcde6">Contact</Parent>
    <Path>/Contact/MapContact</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T09:38:25</CreateDate>
    <NodeName Default="Map Contact" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ozibxxsd/mapcontact.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>