<?xml version="1.0" encoding="utf-8"?>
<Media Key="3daac3b7-4714-467d-bf35-ccc3dbd7bc3c" Alias="Miranda Dayton" Level="2">
  <Info>
    <Parent Key="696a1493-34b9-4134-9a26-e4b314000d6f">About</Parent>
    <Path>/About/MirandaDayton</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T17:57:12</CreateDate>
    <NodeName Default="Miranda Dayton" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/haepzc13/mirandadayton2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>