<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0902cee-1e7b-462a-87b3-2f7eba9b4aa5" Alias="Misc" Level="2">
  <Info>
    <Parent Key="3972cfbc-7178-4c31-ad92-680fcd8e2d8c">Home page</Parent>
    <Path>/HomePage/Misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-01T07:08:24</CreateDate>
    <NodeName Default="Misc" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>