<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2d5b167-e6ba-4d48-9607-26e38876c0aa" Alias="Natural" Level="2">
  <Info>
    <Parent Key="bb057e94-f769-4686-913f-184af2fb0135">Partners</Parent>
    <Path>/Partners/Natural</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T12:34:10</CreateDate>
    <NodeName Default="Natural" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/3b3jgbgt/natural.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>