<?xml version="1.0" encoding="utf-8"?>
<Media Key="d587ae9c-241f-4bb8-a93c-4fb48a66980a" Alias="Our story group img" Level="2">
  <Info>
    <Parent Key="3972cfbc-7178-4c31-ad92-680fcd8e2d8c">Home page</Parent>
    <Path>/HomePage/OurStoryGroupImg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:06:33</CreateDate>
    <NodeName Default="Our story group img" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nyjdknye/ourstory.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>