<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb057e94-f769-4686-913f-184af2fb0135" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-04T17:32:04</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>