<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0f6acd3-2618-4a0c-bafd-397e1a8dc050" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-01T06:58:05</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>