<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ae0c83f-a352-4de0-9116-44ded6c89d70" Alias="Projects - Details" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectsDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-01T06:58:20</CreateDate>
    <NodeName Default="Projects - Details" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>