<?xml version="1.0" encoding="utf-8"?>
<Media Key="22baeb40-11a1-404e-a28c-3676b93a768f" Alias="Rating" Level="2">
  <Info>
    <Parent Key="696a1493-34b9-4134-9a26-e4b314000d6f">About</Parent>
    <Path>/About/Rating</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T09:42:59</CreateDate>
    <NodeName Default="Rating" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wjlbrqf0/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>