<?xml version="1.0" encoding="utf-8"?>
<Media Key="f825182e-b66e-466f-b93a-53b0fd9d8b7b" Alias="Risk management" Level="2">
  <Info>
    <Parent Key="3972cfbc-7178-4c31-ad92-680fcd8e2d8c">Home page</Parent>
    <Path>/HomePage/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:02:31</CreateDate>
    <NodeName Default="Risk management" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1ssjogtv/riskmanagement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>