<?xml version="1.0" encoding="utf-8"?>
<Media Key="44101128-f0f4-43e3-8cb0-b20f6ae80ab1" Alias="Risk management" Level="2">
  <Info>
    <Parent Key="5a950146-4194-41b1-a00e-30a816123017">Services</Parent>
    <Path>/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:31:34</CreateDate>
    <NodeName Default="Risk management" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1kwlfjxp/riskmanagement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>