<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf8c4baf-dd44-4ec0-853c-10db8bea6f43" Alias="Risk management 2" Level="2">
  <Info>
    <Parent Key="c1562eed-e8bc-4b83-97eb-05b3d1ded238">Services - Details</Parent>
    <Path>/ServicesDetails/RiskManagement2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:36:49</CreateDate>
    <NodeName Default="Risk management 2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lx1c2xk5/riskmanagement2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>