<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1562eed-e8bc-4b83-97eb-05b3d1ded238" Alias="Services - Details" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-01T06:57:50</CreateDate>
    <NodeName Default="Services - Details" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>