<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a950146-4194-41b1-a00e-30a816123017" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-01T06:57:32</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>