<?xml version="1.0" encoding="utf-8"?>
<Media Key="177968ba-2156-41c3-ac9a-7de18e3be5fd" Alias="Statistic" Level="2">
  <Info>
    <Parent Key="5a950146-4194-41b1-a00e-30a816123017">Services</Parent>
    <Path>/Services/Statistic</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:35:20</CreateDate>
    <NodeName Default="Statistic" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jdknx3kn/statistic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>