<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c598cfe-ec1f-40e9-9e94-7337d3fdec2d" Alias="Statistic" Level="2">
  <Info>
    <Parent Key="3972cfbc-7178-4c31-ad92-680fcd8e2d8c">Home page</Parent>
    <Path>/HomePage/Statistic</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:04:45</CreateDate>
    <NodeName Default="Statistic" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bqypx1qe/statistic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>