<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee5d5071-3887-4f44-9587-4456a2a64899" Alias="Success story" Level="2">
  <Info>
    <Parent Key="3972cfbc-7178-4c31-ad92-680fcd8e2d8c">Home page</Parent>
    <Path>/HomePage/SuccessStory</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:07:58</CreateDate>
    <NodeName Default="Success story" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qpwp4de2/successtory.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>