<?xml version="1.0" encoding="utf-8"?>
<Media Key="05f8b592-1a46-4d26-9881-5e2b7ff0a451" Alias="Tax and trust" Level="2">
  <Info>
    <Parent Key="3972cfbc-7178-4c31-ad92-680fcd8e2d8c">Home page</Parent>
    <Path>/HomePage/TaxAndTrust</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:04:04</CreateDate>
    <NodeName Default="Tax and trust" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/maefvz03/taxandtrusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>