<?xml version="1.0" encoding="utf-8"?>
<Media Key="465ce277-8e00-4d13-a07a-887c32c88782" Alias="Tax and trusts" Level="2">
  <Info>
    <Parent Key="5a950146-4194-41b1-a00e-30a816123017">Services</Parent>
    <Path>/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T07:34:37</CreateDate>
    <NodeName Default="Tax and trusts" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qvpp3ja1/taxandtrusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>