<?xml version="1.0" encoding="utf-8"?>
<Media Key="487801b7-94e6-41e2-9077-2be3493dea22" Alias="Tina Fox" Level="2">
  <Info>
    <Parent Key="696a1493-34b9-4134-9a26-e4b314000d6f">About</Parent>
    <Path>/About/TinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T17:56:38</CreateDate>
    <NodeName Default="Tina Fox" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/hdfd35up/tinafox2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>