<?xml version="1.0" encoding="utf-8"?>
<Media Key="51ef6494-0170-4ea4-8276-f2388715abbe" Alias="Tina Fox (1)" Level="2">
  <Info>
    <Parent Key="696a1493-34b9-4134-9a26-e4b314000d6f">About</Parent>
    <Path>/About/TinaFox1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T19:43:57</CreateDate>
    <NodeName Default="Tina Fox (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m1mf1m1l/tinafoximage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>